# <p style="background-color:#192B35;font-family:Creepster,cursive;color:#ffffff;font-size:120%;text-align:center;border-radius:10px 10px;">🚀 Python y Pandas para Principiantes 🐍</p>
---

[![Banner-Charla-Danilo.png](https://i.postimg.cc/43Yt0186/Banner-Charla-Danilo.png)](https://postimg.cc/xkScJLV8)

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#sec_1">Variables y Tipos de Datos</a>  
2. <a href="#sec_2">Operadores</a>  
3. <a href="#sec_3">Estructuras de Control de Flujo</a>
4. <a href="#sec_4">Estructura de Datos</a>  
5. <a href="#sec_5">Entrada y Salida de Datos</a>
6. <a href="#sec_6">Introducción a la libreria Pandas</a>    

 
</font>
</div>

`🚀 Primeros Pasos en Python para Analisis de Datos 🚀`

En el fascinante mundo del Analisis de Datos, Python es la llave que abre un sinfín de posibilidades. 🔑 Este proyecto te guiará a través de los fundamentos de Python para el análisis de datos, desde la creación de **variables** 📝 y el uso de **operadores** ➕➖ hasta las **estructuras de control** 🔁 que permiten manejar el flujo de tu código. También explorarás **estructuras de datos** 📚 y aprenderás a interactuar con el usuario mediante **entradas y salidas de datos** 📥📤.

Finalmente, te adentrarás en **Pandas** 🐼, una biblioteca fundamental para la manipulación y visualización de datos 📊. Con este conocimiento, estarás listo para transformar datos en información valiosa y seguir avanzando en el mundo de Analisis de Datos. 📈✨

¡Bienvenido a un viaje donde cada línea de código te acercará a comprender el poder de los datos! 🌐🚀

<a id='sec_1'></a>
## `1. Comentarios, Variables  y Tipos de Datos`

En esta sección, aprenderás a trabajar con las variables y los tipos de datos básicos en Python.

1. **Comentar tu código:** Los comentarios ayudan a que tu código sea más comprensible para ti y para otros, explicando la función de cada parte.

2. **Definir y asignar variables:** Entender cómo crear y asignar variables en Python para almacenar información.

3. **Tipos de datos primitivos:** Familiarizarte con los tipos de datos más comunes en Python: `int` (números enteros), `float` (números decimales), `str` (cadenas de texto), `bool` (valores booleanos).

**1.1. Comentar tu código**

In [520]:
# Esto es un comentario de una sola línea

In [521]:
edad = 25  # Comentario al final de una línea de código

In [523]:
"""
Comentario de varias líneas,
aunque suele utilizarse para documentar funciones o clases.

"""

'\nComentario de varias líneas,\naunque suele utilizarse para documentar funciones o clases.\n\n'

In [433]:
def suma(a, b):
    """
    Calcula la suma de dos números.

    Parámetros:
    a (int o float): El primer número.
    b (int o float): El segundo número.

    Retorna:
    int o float: La suma de a y b.
    """
    return a + b

**1.1. Definir y asignar variables**

In [524]:
# Valor entero
edad = 25

In [528]:
edad

25

In [529]:
# Valor decimal (float)
altura = 1.75

In [530]:
altura

1.75

In [531]:
# Cadena de texto (str)
nombre = "Ana"

In [532]:
print(nombre)

Ana

In [533]:
# Valor booleano
es_estudiante = True

In [534]:
es_estudiante

True

In [438]:
# Valor CONSTANTE
MY_CONSTANTE = 'Mi constante'

**1.2. Identificar tipos de datos**

In [536]:
type(edad)

int

In [537]:
print(type(altura))

<class 'float'>

In [538]:
print(type(nombre))

<class 'str'>

In [539]:
print(type(es_estudiante))

<class 'bool'>

In [540]:
print(type(MY_CONSTANTE))

<class 'str'>

<a id='sec_2'></a>
## `2. Operadores`

En esta sección, aprenderás a trabajar con los diferentes tipos de operadores aritmeticos, de comparación, logicos, asignacion, identidad, pertenencia.

1. **Operadores aritmeticos:** Permiten realizar operaciones matemáticas básicas, como suma (`+`), resta (`-`), multiplicación (`*`), división (`/`), módulo (`%`), y potenciación (`**`).

2. **Operadores de comparación:**  Comparan valores y devuelven True o False, como `==` , `!=` (diferente de), `>` (mayor que), `<` (menor que), `>=` (mayor o igual que) y `<=` (menor o igual que).

3. **Operadores logicos:** Usados para combinar condiciones lógicas. Incluyen `and`, `or` y `not`.

4. **Operadores de asignacion:** Usados para asignar valores a variables, como `=`. También incluyen `+=`, `-=`, `*=`, `/=`.

5. **Operadores de identidad:** Determinan si dos variables apuntan al `mismo objeto en memoria`. Incluyen `is` (devuelve True si son el mismo objeto) y `is not` (devuelve True si no lo son).

6. **Operadores de pertenencia:** Verifican si un valor se encuentra dentro de una secuencia (como una lista o cadena). Incluyen `in` y `not in.

**2.1 Operadores aritmeticos**

In [541]:
a = 5
b = 3

In [544]:
resultado_suma = a + b
print("Suma:", resultado_suma)

Suma: 8

In [543]:
print(f'suma: {resultado_suma}')

suma: 8

In [545]:
resultado_resta = a - b
print("Resta:", resultado_resta)

Resta: 2

In [547]:
resultado_multiplicacion = a * b
print("Multiplicación:", resultado_multiplicacion)

Multiplicación: 15

In [549]:
resultado_division = a / b
print("División:", resultado_division)

División: 1.6666666666666667

In [550]:
resultado_division_entera = a // b
print("División Entera:", resultado_division_entera)

División Entera: 1

In [551]:
resultado_modulo = a % b
print("Módulo:", resultado_modulo)

Módulo: 2

In [552]:
resultado_potencia = a ** b
print("Potencia:", resultado_potencia)

Potencia: 125

**2.2 Operadores comparación**

In [553]:
a = 5
b = 3

In [554]:
resultado_igual = a == b
print("Igual a:", resultado_igual)

Igual a: False

In [555]:
resultado_diferente = a != b
print("Diferente de:", resultado_diferente)

Diferente de: True

In [556]:
resultado_mayor = a > b
print("Mayor que:", resultado_mayor)

Mayor que: True

In [557]:
resultado_menor = a < b
print("Menor que:", resultado_menor)  # Salida: False

Menor que: False

In [558]:
resultado_mayor_igual = a >= b
print("Mayor o igual que:", resultado_mayor_igual)

Mayor o igual que: True

In [559]:
resultado_menor_igual = a <= b
print("Menor o igual que:", resultado_menor_igual)

Menor o igual que: False

**2.3 Operadores Logicos**

In [560]:
a = 10
b = 5

In [562]:
print("AND:", (a > b) and (a > 0))

AND: True

In [563]:
print("OR:", (a > b) or (a < 0))

OR: True

In [564]:
print("NOT:", not (a > b))

NOT: False

**2.4 Operadores de asignacion**

In [565]:
x = 10

In [566]:
print("Asignación =", x)

Asignación = 10

In [575]:
x += 5  # Equivalente a x = x + 5
print("Suma y asignación (+=):", x)

Suma y asignación (+=): 55

In [578]:
x -= 3  # Equivalente a x = x - 3
print("Resta y asignación (-=):", x)

Resta y asignación (-=): 46

In [580]:
x *= 2  # Equivalente a x = x * 2
print("Multiplicación y asignación (*=):", x)

Multiplicación y asignación (*=): 184

In [582]:
x /= 4  # Equivalente a x = x / 4
print("División y asignación (/=):", x)

División y asignación (/=): 11.5

In [583]:
x %= 5  # Equivalente a x = x % 5
print("Módulo y asignación (%=):", x)

Módulo y asignación (%=): 1.5

In [584]:
x **= 3  # Equivalente a x = x ** 3
print("Potenciación y asignación (**=):", x)

Potenciación y asignación (**=): 3.375

In [585]:
x //= 2  # Equivalente a x = x // 2
print("División entera y asignación (//=):", x)

División entera y asignación (//=): 1.0

**2.5 Operadores de identidad**

In [594]:
a = [1, 2, 3]
b = a 
c = [1, 2, 3]

In [595]:
c

[1, 2, 3]

In [596]:
print("a is b:", a is b)

a is b: True

In [597]:
print("a is c:", a is c)

a is c: False

In [598]:
print("a is not c:", a is not c)
print("a is not b:", a is not b)

a is not c: True
a is not b: False

In [599]:
print("Dirección de memoria de a:", id(a))
print("Dirección de memoria de b:", id(b))
print("Dirección de memoria de c:", id(c))

Dirección de memoria de a: 1746600809024
Dirección de memoria de b: 1746600809024
Dirección de memoria de c: 1746536913856

**2.6 Operadores de pertencia**

In [600]:
lista = [1, 2, 3, 4, 5]
texto = "Hola mundo"

In [601]:
print(2 in lista)

True

In [602]:
print("Hola" in texto)

True

In [603]:
print(6 not in lista)

True

In [604]:
print("Python" not in texto)

True

<a id='sec_3'></a>
## `3. Estructuras de Control de Flujo`

En esta sección, aprenderás a utilizar las estructuras de control de flujo en Python, que permiten tomar decisiones y ejecutar bloques de código de manera repetitiva. Estas estructuras son esenciales para la lógica de cualquier programa.

1. **Condicionales (`if`, `elif`, `else`):** Permiten ejecutar un bloque de código solo si se cumple una condición específica. Con estas, puedes tomar decisiones y dirigir el flujo del programa en función de condiciones lógicas.

2. **Bucles (`for` y `while`):** Facilitan la repetición de bloques de código. `for` se utiliza comúnmente para iterar sobre una secuencia (como una lista o cadena), mientras que `while` repite un bloque de código mientras una condición sea verdadera.

3. **Sentencias de Control (`break`, `continue`, `pass`):** Ayudan a modificar el flujo dentro de los bucles. `break` termina el bucle antes de que finalice su ejecución, `continue` omite la iteración actual y pasa a la siguiente, y `pass` se utiliza como marcador de posición sin realizar ninguna acción.

Estas estructuras de control de flujo te permitirán crear programas dinámicos y responder a diferentes condiciones y situaciones en tu código.

**3.1 Condicionales**

In [609]:
edad = 17

if edad < 18:
    print("Eres menor de edad.")
elif edad == 18:
    print("Acabas de alcanzar la mayoría de edad.")
elif edad != 18:
    print('No es cierto')
else:
    print("Eres mayor de edad.")

Eres menor de edad.

**3.2 Bucles (for y while)**

In [622]:
numeros = 'lander'
for numero in numeros:
    print("Número:", numero)

Número: l
Número: a
Número: n
Número: d
Número: e
Número: r

In [625]:
for i in range(20, 1, -3):
    print(i)

20
17
14
11
8
5
2

In [629]:
contador = 0
while contador <= 5:
    print("Contador:", contador)
    contador += 1

Contador: 0
Contador: 1
Contador: 2
Contador: 3
Contador: 4
Contador: 5

**3.3 Sentencias de Control (break, continue, pass)**

In [484]:
for i in range(10):
    if i == 5:
        break  # Termina el bucle cuando i es igual a 5
    print(i)

0
1
2
3
4

In [485]:
for i in range(5):
    if i == 3:
        continue  
    print(i)

0
1
2
4

In [486]:
for i in range(0,5,2):
    if i == 2:
        pass  # No realiza ninguna acción, solo se usa como marcador de posición
    print(i)

0
2
4

<a id='sec_4'></a>
## `4. Estructuras de Datos`

En esta sección, aprenderás sobre las estructuras de datos en Python, que te permiten almacenar, organizar y manipular información de diversas maneras. Estas estructuras son fundamentales para manejar datos de manera eficiente.

1. **Listas:** Son colecciones ordenadas y modificables. Puedes almacenar múltiples elementos y acceder a ellos mediante índices. Las listas permiten agregar, eliminar y modificar elementos, y son ideales para secuencias de datos.

2. **Tuplas:** Son colecciones ordenadas e inmutables, lo que significa que una vez creadas, no pueden ser modificadas. Las tuplas son útiles para almacenar datos que no deben cambiar, como coordenadas o configuraciones fijas.

3. **Conjuntos (`set`):** Son colecciones desordenadas y sin elementos duplicados. Los conjuntos son ideales para operaciones de pertenencia y para eliminar duplicados de una colección.

4. **Diccionarios (`dict`):** Son colecciones desordenadas de pares clave-valor. Permiten acceder rápidamente a valores mediante una clave. Los diccionarios son útiles para almacenar información asociativa, como datos de una persona o configuraciones de un sistema.

**4.1 Listas**

In [487]:
frutas = ["manzana", "banana", "cereza"]

In [634]:
frutas

['manzana', 'banana', 'cereza']

In [636]:
type(frutas)

list

In [646]:
frutas = list(["manzana", "banana", "cereza",'mango','piña'])

In [647]:
frutas

['manzana', 'banana', 'cereza', 'mango', 'piña']

In [648]:
type(frutas)

list

In [652]:
print(frutas[0:5:2])

['manzana', 'cereza', 'piña']

In [654]:
frutas[1] = "durazno"
print(frutas)

['manzana', 'durazno', 'cereza', 'mango', 'piña']

In [666]:
frutas.append([5,3])
print(frutas)

['manzana', 'durazno', 'cereza', 'mango', 'piña', 'naranja', 5, True, [5, 3], [5, 3], [5, 3], [5, 3], [5, 3], [5, 3], [5, 3], [5, 3], [5, 3]]

In [667]:
frutas.remove("cereza")
print(frutas)

['manzana', 'durazno', 'mango', 'piña', 'naranja', 5, True, [5, 3], [5, 3], [5, 3], [5, 3], [5, 3], [5, 3], [5, 3], [5, 3], [5, 3]]

In [670]:
name = 'Liner lander'

In [671]:
name.lower()

'liner lander'

In [672]:
name.upper()

'LINER LANDER'

**4.2 Tuplas**

> - Las tuplas son inmutables, por lo que no puedes modificar sus elementos.
> - Intentar modificar una tupla generará un error:
> - coordenadas[0] = 15  # Esto generaría un error

In [675]:
coordenadas = (10, 20)
print(coordenadas[1])

20

**4.2 Set**

> - Los conjuntos no permiten duplicados

In [ ]:
colores = {"rojo", "verde", "azul"}

In [683]:
colores.add("amarillo")
print(colores)

{'verde', 'rojo', 'azul', 'amarillo'}

In [686]:
colores.discard("amarillo")
print(colores)

{'rojo'}

In [689]:
colores.add("rojo")
print(colores)

{'azul', 'rojo'}

**4.2 Diccionarios**

In [698]:
estudiante = {
    "nombre": "lander",
    "edad": 21,
    "carrera": "Ingeniería"
}

In [699]:
estudiante

{'nombre': 'lander', 'edad': 21, 'carrera': 'Ingeniería'}

In [700]:
print(estudiante["nombre"])

lander

In [703]:
estudiante["nombre"] = "paul"
print(estudiante)

{'nombre': 'paul', 'edad': 22, 'carrera': 'Ingeniería'}

In [705]:
estudiante["universidad"] = "UTEC"
print(estudiante)

{'nombre': 'paul', 'edad': 22, 'carrera': 'Ingeniería', 'universidad': 'UTEC'}

In [706]:
del estudiante["carrera"]
print(estudiante)

{'nombre': 'paul', 'edad': 22, 'universidad': 'UTEC'}

<a id='sec_5'></a>
## `5. Entrada y Salida de Datos`

En esta sección, aprenderás sobre las operaciones de entrada y salida de datos en Python, que te permiten interactuar con los usuarios y manipular archivos. Estas operaciones son esenciales para obtener información, procesarla y mostrar resultados.

1. **Entrada de datos**: Esto es útil para crear programas interactivos donde el usuario puede proporcionar información que el programa procesará.

2. **Salida de datos**: Es esencial para dar feedback al usuario y mostrar los resultados de los cálculos o procesos realizados por el programa.

**5.1 Entraada de datos**

In [707]:
nombre = input("Por favor, ingresa tu nombre: ")
print("Hola, " + nombre)

Hola, liner

In [709]:
edad_namuel = int(input("Por favor, ingresa edad de manuel: "))
edad_juan = int(input("Por favor, ingresa edad de juan: "))

suma =  edad_juan + edad_namuel
print(f'La suma de edad {suma}')

La suma de edad 22

**5.2 Salida de datos**

In [710]:
edad = 25
print("Tienes", edad, "años.")

Tienes 25 años.

<a id='sec_5'></a>
## `6. Introducción a la libreria Pandas`

En esta sección, aprenderás sobre la librería `pandas` en Python, una herramienta poderosa para la manipulación y análisis de datos. `pandas` permite trabajar con datos en estructuras como tablas (DataFrames), que son fáciles de manipular, filtrar y transformar.

1. **Carga de datos**: `pandas` permite leer datos desde diversas fuentes, como archivos CSV, Excel, SQL y otros formatos. Esto facilita la importación de grandes volúmenes de datos en un formato estructurado para su análisis.

2. **Manipulación de datos**: Con `pandas`, puedes realizar operaciones como seleccionar, filtrar y transformar datos. Puedes aplicar funciones, agrupar datos y realizar cálculos en columnas específicas, lo que es fundamental para el análisis y limpieza de datos.

Estas capacidades hacen de `pandas` una herramienta esencial en el análisis de datos en Python, permitiéndote manejar grandes cantidades de información de manera rápida y eficaz.

**6.1 Carga de datos**

**6.1.1 Diccionario de datos disponibles**

| **Clave**      | **Descripción**                                                             | **Tipo de dato** |
|----------------|-----------------------------------------------------------------------------|------------------|
| PassengerId    | Identificador único para cada pasajero                                      | Int              |
| Survived       | Indica si el pasajero sobrevivió (1: sí, 0: no)                             | Int              |
| Pclass         | Clase del pasajero (1: Primera clase, 2: Segunda clase, 3: Tercera clase)   | Int              |
| Name           | Nombre completo del pasajero                                                | Object           |
| Sex            | Género del pasajero (male: masculino, female: femenino)                     | Object           |
| Age            | Edad del pasajero                                                           | Float            |
| SibSp          | Número de hermanos/esposas a bordo                                          | Int              |
| Parch          | Número de padres/hijos a bordo                                              | Int              |
| Ticket         | Número de ticket del pasajero                                               | Object           |
| Fare           | Tarifa pagada por el pasajero                                               | Float            |
| Cabin          | Número de cabina asignada (si aplica)                                       | Object           |
| Embarked       | Puerto de embarque (C: Cherbourg, Q: Queenstown, S: Southampton)            | Object           |

In [713]:
import pandas as pd

In [720]:
df = pd.read_csv('data/titanic.csv')
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [723]:
print(f'El número de filas es: {df.shape[0]}')
print(f'El número de columnas es: {df.shape[1]}')

El número de filas es: 891
El número de columnas es: 12

**Entender qué tipos de datos tenemos en cada columna**

In [724]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

>**Observación**
> - Al poder observar a mas detalle el tipo de dato que tiene cada columna, se pudo ver que exiten datos de tipo `int`  y `Object`.
> - Al poder observar a mas detalle se tiene en cantida de tipo de dato `float64(2)`, `int64(5)`, `object(5)`

**Verificar si hay datos faltantes y valores duplicados**

In [727]:
df.duplicated().sum()

0

In [728]:
df =  df.drop_duplicates()

>**Observación**
> - Al observar se pudo evidenciar que `no hay valores duplicados`.

In [729]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

>**Observación**
> - Al observar se pudo evidenciar que `si hay valores nulos.`

In [730]:
df = df.drop(columns = ['Cabin','PassengerId'])

In [731]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 69.7+ KB

In [732]:
promedio_edad = df['Age'].mean()
moda_embarked = df['Embarked'].mode()

In [733]:
moda_embarked

0    S
Name: Embarked, dtype: object

In [734]:
df['Age'] = df['Age'].fillna(promedio_edad)
df['Embarked'] = df['Embarked'].fillna('S')

In [735]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       891 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 69.7+ KB

>**Observación**
> - Al observar se pudo evidenciar que `no hay valores nulos.`

**Verificar si hay datos outliers mediante gráficos**

In [737]:
# Carpeta para guardar las imágenes
import os
output_dir = './Gráficos_Outliers'
os.makedirs(output_dir, exist_ok=True)

In [738]:
import matplotlib.pyplot as plt
import seaborn as sns
numeric_columns = df.select_dtypes(include='number').columns.to_list()

plt.style.use('ggplot')
sns.set_context("talk")

for column in numeric_columns:
    plt.figure(figsize=(10, 6)) 
    sns.boxplot(y=df[column], color='skyblue') 
    plt.title(f'Boxplot de {column}', fontsize=16)  
    plt.ylabel('cantidad', fontsize=14) 
    plt.xlabel(column, fontsize=14)
    plt.grid(True, linestyle='--', alpha=0.7) 
    plt.savefig(f'{output_dir}/Boxplot_de_{column}.png', bbox_inches='tight') 
    plt.close()

print(f'Gráficos guardados con éxito!')

Gráficos guardados con éxito!

**Realizar el resumen estadístico**

In [518]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.000000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.000000,3.0,3.0000
Age,891.0,29.699118,13.002015,0.42,22.0000,29.699118,35.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.000000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.000000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.454200,31.0,512.3292

**Consejos Adicionales**

### 1. Organización de Proyectos
- **Estructura de Carpetas**: Mantener una estructura de carpetas clara en tu proyecto, como:
  - `/data` para los datos,
  - `/scripts` para los códigos,
  - `/notebooks` para cuadernos Jupyter.
- **Uso de Git**: Utiliza Git para el control de versiones.
- **Documentación del Código**: Agrega comentarios para que sea comprensible lo que se esta realizando.

### 2. Uso de Bibliotecas Comunes
- **Pandas para Manipulación de Datos**: 
  - Ejemplos básicos: `df.head()`, `df.describe()`, y operaciones de filtrado y agrupación.
- **Matplotlib y Seaborn para Visualización**: 
  - Visualización básica: gráficos de barras, líneas, histogramas para entender mejor los datos.
- **NumPy para Operaciones Numéricas**: Utiliza NumPy para realizar cálculos rápidos en grandes conjuntos de datos.

### 3. Recursos de Aprendizaje Continuo
- **Documentación Oficial**: Consultar la documentación oficial de las bibliotecas, es una fuente confiable y completa.
- **Foros y Comunidades**: Participa en comunidades como Stack Overflow para hacer preguntas y aprender de otros.
- **Ejemplos y Práctica**: Realiza proyectos pequeños, como análisis de conjuntos de datos públicos, para afianzar el aprendizaje.

### 4. Recomendación de Herramientas
- **Jupyter Notebook**: Recomendado para análisis y visualización interactivos.
- **VS Code**: Es un editor de código ligero con soporte para Python.
- **Bibliotecas Populares**: Pandas, NumPy, y Scikit-Learn para análisis de datos y Machine Learning.